body {
	background-color: #2f3640 !important;
}

a:link {
	color: white !important;
}

a:visited {
	color: white !important;
}

a:hover {
	color: white !important;
}

.title {
	color: white !important;
}

.bodytxt {
	color: #f7f7f7 !important;
}

.split {
	color: white !important;
	border-bottom-style: solid !important;
}

div {
	border-bottom-color: white !important;
	color: white !important;
}

.infotext {
	color: #f7f7f7 !important;
}

.captiontext {
	color: #f7f7f7 !important;
}

.releasetext {
	color: #a5a5a5 !important;
}

h1 {
	color: white !important;
}

h2 {
	color: white !important;
}

h3 {
	color: white !important;
}

.bg3 {
	background-color: #b1b1b1 !important;
}

.bgtabon {
	background-color: #a5a5a5 !important;
}

.fieldlabeltext {
	color: #f7f7f7 !important;
}